# Ignore os arquivos dentro de /Desafios/node_modules
/desafios/node_modules/*

# Ignore os arquivos /Desafios-api/node_modules
/desafios-api/node_modules/*

# Ignore os arquivos /aula-12
/aula-12/*

# Ignore os arquivos /Coisas-enviadas
/Coisas-enviadas/*


